.activity-sidebar{
    background-color: #fff;
    padding-top:15px;
}

.portrait-container{
    display: table;
}

.portrait-container img{
    display: table-cell;
    vertical-align: middle;
    max-width:300px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    margin:auto;
}

.ct-chart{
    background-color: #fff;
}

input:checked + .slider {
    background-color: #4cae4c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4cae4c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.chart-toggle-container{
    display: table;
    margin:auto;
    padding-bottom:20px;
}

.chart-toggle-container > *{
    display: table-cell;
    vertical-align: middle;
}