option_settings:
    - option_name: DB_HOST
      value: timetally.ctppp7vbul5r.us-east-2.rds.amazonaws.com
    - option_name: DB_PORT
      value: 3306
    - option_name: DB_DATABASE
      value: time_tally
    - option_name: DB_USERNAME
      value: timeIsGod
    - option_name: DB_PASSWORD
      value: #EDC4rfv34
    - option_name: APP_DEBUG
      value: false
    - option_name: APP_ENV
      value: production
    - option_name: APP_URL
      value: http://timetally-dev.us-east-2.elasticbeanstalk.com/