option_settings:
    - option_name:  APP_NAME
      value:  TimeTally
    - option_name:  APP_ENV
      value:  production
    - option_name:  APP_KEY
      value:  base64:1mneHWMfWPFOlIZc9BntMP4JMIGi3aoOw5Q9Bbb3FUQ=
    - option_name:  APP_DEBUG
      value:  false
    - option_name:  APP_LOG_LEVEL
      value:  debug
    - option_name:  APP_URL
      value:  http://timetally-dev.us-east-2.elasticbeanstalk.com/
    - option_name:  DB_CONNECTION
      value:  mysql
    - option_name:  DB_HOST
      value:  timetally.ctppp7vbul5r.us-east-2.rds.amazonaws.com
    - option_name:  DB_PORT
      value:  3306
    - option_name:  DB_DATABASE
      value:  time_tally
    - option_name:  DB_USERNAME
      value:  timeIsGod
    - option_name:  DB_PASSWORD
      value:  #EDC4rfv34
    - option_name:  BROADCAST_DRIVER
      value:  log
    - option_name:  CACHE_DRIVER
      value:  file
    - option_name:  SESSION_DRIVER
      value:  file
    - option_name:  QUEUE_DRIVER
      value:  sync
    - option_name:  MAIL_DRIVER
      value:  smtp
    - option_name:  MAIL_HOST
      value:  smtp.gmail.com
    - option_name:  MAIL_PORT
      value:  587
    - option_name:  MAIL_USERNAME
      value:  TimeTallyPremiere@gmail.com
    - option_name:  MAIL_PASSWORD
      value:  zoxnrixvcbdkoonp
    - option_name:  MAIL_ENCRYPTION
      value:  'tls'

