/************COMMON CSS*****************/
body{
    font-size:18px;
}
.sidebar{
    display: none;
}

@media screen and (min-width: 768px){
    .navbar.navbar-default.navbar-fixed-top{
        width:calc(100% - 200px);
        margin-left: 200px;
    }
    .sidebar{
        display: block;
        position: fixed;
        top:0;
        left:0;
        width:200px;
        background-color: slategrey;
        color: #fff;
        padding:15px;
    }

    .sidebar:after{
        content: '';
        height:100%;
        background-color: slategrey;
        position: fixed;
        left:0;
        width:200px;
    }

    .sidebar-header{
        min-height:150px;
    }

    .sidebar-header img{
        max-width: 100%;
        max-height: 100px;
    }

    .sidebar ul{
        list-style:none;
        padding:0px;
        width:100%;
    }

    .sidebar li{
        display: table;
        color: #fff;
        width:100%;
    }

    .sidebar li > *{
        display: table-cell;
        vertical-align: middle;
    }

    .sidebar i{
        width:20%;
    }

    .sidebar .sidebar-text{
        width:80%;
    }

    .sidebar a:hover{
        text-decoration: none;
    }
}